[submodule "modules/gigacha_sensorfusion"]
	path = modules/gigacha_sensorfusion
	url = https://github.com/beomh/gigacha_sensorfusion.git
[submodule "modules/obstacle-tracker"]
	path = modules/obstacle-tracker
	url = https://github.com/sh-song/obstacle-tracker.git
[submodule "modules/vlp16_docker"]
	path = modules/vlp16_docker
	url = https://github.com/sh-song/vlp16_docker.git
[submodule "modules/GIGACHA_VISION_TRAFFIC"]
	path = modules/GIGACHA_VISION_TRAFFIC
	url = https://github.com/Hello-Hyuk/GIGACHA_VISION_TRAFFIC.git
[submodule "modules/GIGACHA_VISION_SIGN"]
	path = modules/GIGACHA_VISION_SIGN
	url = https://github.com/Hello-Hyuk/GIGACHA_VISION_SIGN.git
